.carousel{
    overflow: hidden;
}
.carousel-img img{
    border-radius: 5px;
    margin: auto;
    height: 170px;
    width: 300px;
}
*{
    box-sizing: border-box;
}
.category-wrap{
    position: relative;
}
.category-wrap .box-content{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
}

