.banner-section{
    background: url('C:\Project\Final Project\perfume-store\perfume-store\src\image\s2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    padding: 20px;
}
.banner-text{
    text-align: justify;
}
